img.ico-Gmail{
    width: 20% ;
}
img.ico-Github{
    width: 20% ;
}
img.ico-Link{
    width: 20% ;
}

.container-Cont{
    background: rgba(238, 219, 157, 0.342);
    border:1px solid darkgoldenrod;
    padding: 0%;
    margin: 0%;
    color: rgb(7, 6, 6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }

.container-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: 10px;
    text-align: center;
}
.img-Contac{
    transition: ease;
    transition-duration: 1.5s;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
    margin-top: 2%;
}

div.container-Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
h1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
}
