.Badge {
  width: 99%;
}

h1{
  font-weight: bold;
  font-style: 'Roboto', sans-serif;
  font-size: 2.5rem;
}
p{
  
  font-style: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #b78900e8;
  border-color: #b78900e8;
}

.section-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  
}


.Badge__avatar {
  border-radius: 50%;
  margin-right: 1rem;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

img.Badge__avatar{

  margin-top: 10px;
  margin-bottom: 10px;
}

.Badge__footer {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #98CA3F;
  font-weight: bold;
  font-style: 'Roboto', sans-serif;
}
.Texto{
  margin-top: 286px;
}

.container{
  display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width:40em) {
  .Badge {
    width: 99%;
}
}
@media (max-width: 575.98px) { 
  .Badge{
    height: 50%;
  }
}