
.previous-events {
  
    margin: 0;
    color: #efe6ff;
    display: flex;
    align-items: center;
  
  }
  
  .event-header::before {
    content: "";
    width: 50px;
    background-color: #efe6ff;
    height: 5px;
    position: absolute;
    margin-top: -10px;
  }
  
  .purple-details {
    color: #deccff;
    font-size: 1.5em;
  }
  
  .event-container {
    display: grid;
    margin: 8% 0% 0% 0%;
    justify-self: end;
  }
    h2 {
    font-style: 'Roboto', sans-serif;
    font-size: 2rem;
    color: black;
}
  
a.btn.btn-darkgoldenrod {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: #212529;
    background-color: #b78900e8;
    border-color: #b78900e8;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
 
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
  .card {
    font-style: 'Roboto', sans-serif;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 230px;
    width: 210px;
    border-radius: 25px;
    position: relative;
    box-shadow:0  1px 8px darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0%;
    flex-direction: column;
    display: grid;
    margin: 8% 0% 0% 0%;
    justify-self: end;
  }
  p {
    font-style: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    color: black;
}
  .event-header {
    font-size: 3em;
  }
  
  .event::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
   
  }
  
 
  
  .event-title {
    color: rgb(7, 7, 7);
    z-index: 5;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    
  }
  

  
 