*{
    padding: 0em;
    margin: 0em;
  }

.containerSki{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
    justify-content: center;
}

.Skills{
    background: rgba(238, 219, 157, 0.342);
    border:1px solid darkgoldenrod;
    padding: 0%;
    margin: 0%;
    color: rgb(7, 6, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
 
}

div.Skills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.imgSkills{
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    flex-direction: row; 
    justify-content: center; 
    margin-left: 20%; 
    margin-top: 2%;
}

.img-Skills{
    width: 33.33%;
    margin-top: 7%;
}

img.ico-js{
    width: 30%;
}

img.ico-css{
    width: 30%;
}

img.ico-fire{
    width: 30%;
}

img.ico-boost{
    width: 30%;
}

img.ico-git{
    width: 30%;
}

img.ico-github{
    width: 30%;
}

img.ico-html{
    width: 30%;
}

img.ico-lin{
    width: 30%;
}

img.ico-react{
    width: 30%;
}

