.App {
  text-align: left;
  background-color: #9fa39e;
  background-image: -webkit-linear-gradient(180deg, #9fa39e 32%, #060606 85%);
  background-image: -moz-linear-gradient(180deg, #9fa39e 32%, #060606 85%);
  background-image: -o-linear-gradient(180deg, #9fa39e 32%, #060606 85%);
  background-image: linear-gradient(180deg, #9fa39e 32%, #060606 85%);
}



.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

